@font-face {
  font-family: 'Roboto-Light', sans-serif;
  src:  url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}
@font-face {
   font-family: 'Swiss721BT-Heavy';
   src:  url('../fonts/tt0102m.woff2') format('woff2'),
        url('../fonts/tt0102m.woff') format('woff');
   font-weight: normal;
   font-display: swap;
}